/* body {
    background-color: yellow;
} */

.navbar {
    height: 120px;
    background-color: #024F6D !important;
}
.btn-info {
    background-color: transparent !important; 
    border-color: transparent !important;
}
.btn-info:hover {
    background-color: #17a2b8 !important; 
    border-color: #17a2b8 !important;
    /* color: #BA0C2F !important; */
}
.headerlinks {
    width: 100%;
    display:flex !important;
    justify-content: space-between !important;
}
.headerLeft {
    display:flex;
    justify-content: space-evenly;
}
.headerRight {
    display:flex;
    justify-content: center;

}
.jumbo {
    padding: .5rem !important;
    margin-bottom: 10px !important;
}
.searchBox {
    display: flex;
    justify-content: center;
    margin-bottom:10px;
    align-items: center;
}
div.searchBox input {
    height: 25px;
    padding:5px;
    border: 3px solid #e9ecef;
}
.searchTitle {
    margin-right: .5em;
    /* margin-bottom: 15px; */
    font-size:1.2em;

}
.mainArticle {
    display: flex;
    justify-content: space-around;
    /* margin: 30px 0px 15px; */
}
.mainContent {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-evenly;
    
}

.imageMain {
    height: 300px;
    width:400px;
}
.card {
    margin-bottom: 15px !important;
}
li.nav-item {
    margin: auto 15px;
    
}
li.nav-item a{
    font-size: 1.35em;
    font-weight: 500;
}
.calendar-alt {
   
    color:black;
    margin-right:5px;
}

.cardLinks {
    color:white !important;
}
.btn-dark {
    background-color: #5a6268 !important;
    color: white !important
    
}
.btn-dark:hover {
    background-color: #BA0C2F !important;
    color: white !important;
}
.btn-dark a:hover {
    text-decoration: none !important;
    color:white !important;
    
}

div.card-header {
    background-color: #166787;
    color: #F7F8F9;
}
.fa.fa-calendar-alt {
    color:darkgray;

}


/* div.card {
    margin: 10px !important;
} */
.inputImage {
    height: 150px;
    width:100px;
}
.checkoutForm {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input#name {
    margin:15px 0px;
    font-size: 18px;
    
}
div.container.checkout#checkout {
    background-color: #F7F8F9 !important;
    border-radius: 5px;
    padding: 75px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
}
.InputElement {
    margin:10px;
    height:150px;
    background-color:red;
    
}
.checkoutButton {
    margin-top:15px !important;
}

.whitetext > h3, .whitetext label {
    color:white !important;
}

div.container.checkout#checkout {
    padding: 50px 35px !important;
    background-color: #0094D8 !important;
    color: #f7f7f7 !important;
    text-align: center !important;
   
}
.checkoutButton {
    background-color: yellow !important;
    width:25%;
    margin: auto;
    color: #515355;
    
    
}
input#name.form-control {

}

.boxShadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}
.boxShadowLight {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  }
.boxShadowLightest {
    box-shadow: 0 1px 10px rgba(0,0,0,0.16), 0 1px 10px rgba(0,0,0,0.23) !important
}

  /* contact */
  .contactContainer {
      margin: 30px auto;
      background-color: #0094D8;
      padding: 50px 50px;
      display: flex;
  flex-direction: column;
  justify-content: center;

  }
  .contactLabel {
      margin-bottom: 20px;
  }
  .contactLabel > label {
    color: white;
    font-size:1.2em;
    
    
  }
  .contactLabel > input {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  input {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) ;
  }
  #inputCheckbox {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
  }

/* input#searchShadow {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px wpx 0 rgba(0,0,0,0.12) !important
}

a.linkNoDecoration {
    text-decoration: none !important;
    color: white !important;
    
} */

/* Single blog post */
.blogContainer {
    background-color: #e9ecef;
    margin-top: 30px;
    padding: 40px;

}